@model CollegeGrades.Core.Entities.Teacher

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header" data-background-color="blue">
                    <h4 class="title">Delete teacher</h4>
                    <p class="category">Here you can delete a teacher</p>
                </div>
                <div class="card-content table-responsive">
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.Name)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Name)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.Email)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Email)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.Link)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Link)
                        </dd>
                    </dl>

                    <form asp-action="Delete">
                        <input type="hidden" asp-for="ID" />
                        <input type="submit" value="Delete" class="btn btn-danger" />
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
